{
  "presets": [
    "@babel/preset-env"
  ]
}




/*
{
  "presets": [
    [
      "env", {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
    "plugins": ["transform-object-rest-spread"]
}

*/